<div class="product-item" >
    <div class="wishlist-sale-conteiner">
        <div class="add-to-wishlist">
            <i class="fa fa-heart-o" aria-hidden="true"></i>
        </div>
        <div class="on-sale-tag" *ngIf="product.discauntPrice">{{(100-(product.discauntPrice/product.price*100)).toFixed(0)}}% Off</div>
        <div class="product-image">
            <img [src]="product.imageUrl" alt="" class="product-image" width="300px">
        </div>
        <div class="add-to-price">Pret {{product.price}} Ron</div>
        <div class="product-name">{{product.name}}</div>
        <div class="product-category">Categoria: {{product.categori}}</div>
        <div class="product-Type">Tip {{product.type}}</div>
        <div class="product-Size">Gramaje disponibile {{product.size}}</div>
        <div class="product-in-Stok" [ngStyle]="{fontWeight:'bold',color:product.is_in_inventory? 'green':'red'}">
            {{product.is_in_inventory?"In stoc":"stoc epuizat"}} 
        </div>
    </div>
</div>